.commentContainer {
    color: white;
    background: var(--accent-gradient-background);

    border: none;
    display: flex;
    flex-direction: column;

    width: 750px;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 18px;
}

.usernameContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.voteContainer {
    display: flex;
}

.vote {
    margin-right: 8px;
    margin-left: 8px;
}

.username {
    color: var(--accent-color);

    font-size: 20px;
}

.commentbodyContainer {
    margin-bottom: 15px;
}

.commentBody {
    font-size: 22px;
}

.commentOptionsContainer {
    display: flex;
    justify-content: flex-end;
}

.commentOptionsButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0px 3px 3px;
}

.commentOptionsButton {
    color: var(--text-color);
    background: var(--accent-gradient-background);

    font-weight: bold;
    border: 2px solid white;

    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
}

.commentOptionsButton:hover {
    color: black;
    background: white;
    border: 1px solid black;

    padding: 10px;
    border-radius: 20px;
}


.cancelCommentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelCommentButton {
    color: var(--text-color);

    border: none;
    background: red;

    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.cancelCommentButton:hover {
    color: red;

    background: white;
    transition: ease-in 0.1s;
}

@media (max-width: 899px) {
    .commentContainer {
        width: 90%;
        padding: 10px;
    }

    .username {
        font-size: 18px;
    }

    .commentBody {
        font-size: 20px;
    }

    .commentOptionsButton {
        font-size: 10px;
        padding: 8px;
    }

    .voteContainer {
        align-items: center;
        flex-direction: row;
    }

    .vote {
        margin: 8px 8px;
    }
}

@media (max-width: 599px) {
    .commentContainer {
        width: 95%;
        padding: 8px;
    }

    .username {
        font-size: 16px;
    }

    .commentBody {
        font-size: 18px;
    }

    .commentOptionsButton {
        font-size: 10px;
        padding: 6px;
    }

    .voteContainer {
        align-items: center;
        flex-direction: row;
    }

    .vote {
        margin: 5px 5px;
    }
}