.commentContainer {
    color: white;
    background: var(--accent-gradient-background);

    border: none;
    display: flex;
    flex-direction: column;

    width: 750px;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 18px;
}

.usernameContainer {
    margin-bottom: 15px;
}

.username {
    color: var(--accent-color);

    font-size: 20px;
}

.commentbodyContainer {
    margin-bottom: 15px;
}

.commentBody {
    font-size: 22px;
}

.commentOptionsContainer {
    display: flex;
    justify-content: flex-end;
}

.commentOptionsButtonContainer {
    margin: 0px 3px 3px;
}

.commentOptionsButton {
    color: var(--text-color);
    background: var(--accent-gradient-background);

    border: 1px solid white;

    padding: 10px;
    border-radius: 20px;
}

.commentOptionsButton:hover {
    color: black;
    background: white;
    border: 1px solid black;

    padding: 10px;
    border-radius: 20px;
}


.cancelCommentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelCommentButton {
    color: var(--text-color);

    border: none;
    background: red;

    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.cancelCommentButton:hover {
    color: red;

    background: white;
    transition: ease-in 0.1s;
}