.commentContainer {
    color: white;
    background: var(--accent-gradient-background);

    border: none;
    display: flex;
    flex-direction: column;

    width: 750px;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 18px;
}

.usernameContainer {
    margin-bottom: 15px;
}

.username {
    color: var(--accent-color);

    font-size: larger;
}

.commentbodyContainer {
    margin-bottom: 15px;
}

.viewRepliesButton {
    color: var(--text-color);
    background: var(--neon-gradient-background);

    border: none;
    cursor: pointer;
    transition: ease-in-out;

    padding: 3px;
    border-radius: 14px;
}

.viewRepliesButton:hover {
    background: var(--accent-gradient-background);

    border: 1px solid white;
    transform: scale(1.01);
}