.footer {
    background: var(--accent-gradient-background);
    color: white;
    padding: 20px 0;
    text-align: center;
    border: none;
    width: 100%;
}

.footerTitleText {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerSection {
    flex: 1;
    margin: 20px;
}

.footerSection h2 {
    margin-bottom: 10px;
}

.footerSection p,
.footerSection ul {
    margin: 5px;
    padding: 0;
    list-style: none;

    font-size: 18px;
}

.footerSection li {
    margin-top: 4px;
}

.footerSection a {
    color: white;
    text-decoration: none;

    margin-top: 3px;
    font-size: 18px;
}

.footerSection a:hover {
    text-decoration: underline;
}

.footerBottom {
    margin-top: 20px;
}
