.tokenArticleContainer {
    background: var(--accent-gradient-background);

    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 3% 12%;
    border-radius: 16px;
}

.titleContainer {
    color: var(--text-color);
    background-color: var(--neon-gradient-background);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px;
}

.title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.articleContent {
    display: flex;
    flex-direction: column;

    padding: 12px;
}

.articleHeader {
    color: var(--text-color);
    background: var(--neon-gradient-background);

    border: none;

    width: 55%;
    margin-left: 15px;
    padding: 8px;
    font-size: 28px;
    border-radius: 40px;
}

.articleParagraph {
    color: var(--text-color);

    padding: 16px;
    font-size: 24px;
    line-height: 1.4;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 28px;
}

.commentButtonContainer {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

.commentsButton {
    color: var(--text-color);
    background: var(--neon-gradient-background);

    border: none;
    transition: ease;

    width: 350px;
    padding: 4px;
    font-size: 24px;
    border-radius: 32px;
}

.commentsButton:hover {
    background: var(--accent-gradient-background);

    border: 1px solid white;
    transform: scale(1.01);
}

.noCommentsContainer {
    background: var(--accent-gradient-background);
    
    border: none;
    color: red;
    display: flex;
    font-weight: bold;
    justify-content: center;

    margin: 3% 25%;
    padding: 8px;
    font-size: 32px;
    border-radius: 18px;
}

.commentOnPostContainer {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.commentOnPostButton {
    color: var(--text-color);
    background: var(--neon-gradient-background);

    border: none;

    width: 250px;
    padding: 8px;
    font-size: 18px;
    border-radius: 18px;
}

.commentOnPostButton:hover {
    transform: scale(1.01);
    background: var(--accent-gradient-background);

    border: 1px solid white;
}

.cancelCommentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelCommentButton {
    color: var(--text-color);

    border: none;
    background: red;

    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.cancelCommentButton:hover {
    color: red;

    background: white;
    transition: ease-in 0.1s;
}