.sectionContainer {
    margin-top: 20px;
    padding: 5px;
}

.sectionContainer h1 {
    margin-left: 20px;
    margin-bottom: 8px;
    color: var(--text-color);
}

.cardContainer {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
/* 
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}
