.loginContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: var(--accent-gradient-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formGroup {
    margin-bottom: 25px;
}

.formError {
    margin-left: 10px;
    font-weight: bold;
    color: red;
}

.label {
    margin-left: 13px;
    font-weight: bold;
    color: var(--text-color);
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    color: black;
}

.input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: var(--neon-gradient-background);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.button:hover {
    background: var(--hover-background);
    border: solid 1px white;
    transform: scale(1.01);
}

.redirectLink {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--text-color);
}

.redirectLink a {
    margin-left: 2px;
    padding-left: 5px;
}